
body{
    background-color: #d9e4e6;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 5 px;
    padding: 5px;
}
ol{
    text-align: left;
    list-style-position: inside;
    font-weight: bold;
}
ul{
    list-style-position:inside;
    font-weight: lighter;
}
.common{
    border-bottom: 5px solid rgb(29, 34, 40);
    border-top: 5px solid rgb(29, 34, 40);
    background-color: black;
    color: white;
    margin: 0px -15px;
    
}
.header1{
    text-decoration: underline overline;
    text-decoration-color: #d9e4e6;
    font-size: 50px;
}
.header2{
    text-decoration: underline overline;
    text-decoration-color: black;
}
h3{
   color:rgb(29, 34, 40); 
   background-color: whitesmoke;
   margin: 0px - 25px;
}
img{
    width: 600px;
    height: auto;
    border: 5px outset white;
    padding: 3px;
    margin: 5px;
}
.container{
    width: 600px;
    height: 338px;
    border: 5px outset white;
    padding: 3px;
    margin: 5px;
    display: inline-block;
    background-color: whitesmoke;
    
}
.break{
    background-color:whitesmoke;
    border-bottom:rgb(29, 34, 40);
    margin: 0px -10px;
    padding: 0px;
    line-height: 50px;
    
}
#button{
    background-color: black;
    color: white;
    border: outset white;
    bottom: 5px;
    float: right;
    padding: 3px;
    text-align: right;
    position: fixed;
    
}
nav{
    color: black;
    text-align: right;
    margin: 25px;
    font-weight:bold;
    font-size: large;

}
.footer{
    background-color: black;
    line-height: 30px;
    text-align:center;
    color: white;
    bottom: 0;
    left: 0px;
    right: 0px;
    margin: 0px -20px;
    

}
.blackText{
    color: black;
}
.whiteText{
    color: white;
}